<section class="hero py-10">
      <div class="container mx-auto flex justify-between items-center">
        <div class="w-1/2">
          <h6 class="text-lg italic">Are you hungry?</h6>
          <h1 class="text-6xl font-bold py-5">Don't Wait !</h1>
          <button class="px-6 py-2 rounded-full text-white mt-4 font-bold btn-primary">Order Now</button>
        </div class="w-1/2">
        <div>
          <img src="/img/hero-pizza.png" alt="pizza" class="h-[500px]"/>
        </div>
      </div>
    </section>

    <section class="menu container mx-auto my-10">
      <h1 class="text-xl font-bold mb-7">All Pizzas</h1>
      
      <!-- // cart  -->
      <div class="grid grid-cols-4 gap-y-16 ">
        <div class="w-60">
          <img src="/img/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margomi pizza</h2>
            <span class="py-1 px-4 rounded-full uppercase size ">Small</span>
            <div class="flex justify-around mt-6 items-center">
              <span class="text-xl font-bold">200</span>
              <button class="cart p-1 px-6 rounded-full flex items-center font-bold gap-2"> <span>+</span> <span>Add</span></button>
            </div>
          </div>
        </div>
          <div class="w-60">
          <img src="/img/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margomi pizza</h2>
            <span class="py-1 px-4 rounded-full uppercase size ">Small</span>
            <div class="flex justify-around mt-6 items-center">
              <span class="text-xl font-bold">200</span>
              <button class="cart p-1 px-6 rounded-full flex items-center font-bold gap-2"> <span>+</span> <span>Add</span></button>
            </div>
          </div>
        </div>
          <div class="w-60">
          <img src="/img/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margomi pizza</h2>
            <span class="py-1 px-4 rounded-full uppercase size ">Small</span>
            <div class="flex justify-around mt-6 items-center">
              <span class="text-xl font-bold">200</span>
              <button class="cart p-1 px-6 rounded-full flex items-center font-bold gap-2"> <span>+</span> <span>Add</span></button>
            </div>
          </div>
        </div>
          <div class="w-60">
          <img src="/img/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margomi pizza</h2>
            <span class="py-1 px-4 rounded-full uppercase size ">Small</span>
            <div class="flex justify-around mt-6 items-center">
              <span class="text-xl font-bold">200</span>
              <button class="cart p-1 px-6 rounded-full flex items-center font-bold gap-2"> <span>+</span> <span>Add</span></button>
            </div>
          </div>
        </div>
          <div class="w-60">
          <img src="/img/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margomi pizza</h2>
            <span class="py-1 px-4 rounded-full uppercase size ">Small</span>
            <div class="flex justify-around mt-6 items-center">
              <span class="text-xl font-bold">200</span>
              <button class="cart p-1 px-6 rounded-full flex items-center font-bold gap-2"> <span>+</span> <span>Add</span></button>
            </div>
          </div>
        </div>
          <div class="w-60">
          <img src="/img/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margomi pizza</h2>
            <span class="py-1 px-4 rounded-full uppercase size ">Small</span>
            <div class="flex justify-around mt-6 items-center">
              <span class="text-xl font-bold">200</span>
              <button class="cart p-1 px-6 rounded-full flex items-center font-bold gap-2"> <span>+</span> <span>Add</span></button>
            </div>
          </div>
        </div>
          <div class="w-60">
          <img src="/img/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margomi pizza</h2>
            <span class="py-1 px-4 rounded-full uppercase size ">Small</span>
            <div class="flex justify-around mt-6 items-center">
              <span class="text-xl font-bold">200</span>
              <button class="cart p-1 px-6 rounded-full flex items-center font-bold gap-2"> <span>+</span> <span>Add</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>