<section class="cart-sec py-10">
  <div class="container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/img/cart-black.png" alt="cart" />
      <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
    </div>
    <div class="pizza-list my-5">
      <div class="flex items-center">
        <img src="/img/pizza.png" alt="pizza" class="w-24" />
        <div class="ml-4 flex-1">
          <h1>Magrone</h1>
          <span>SMALL</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="font-bold"> ₹ 500</span>
      </div>
    </div>
    <div class="pizza-list my-5">
      <div class="flex items-center">
        <img src="/img/pizza.png" alt="pizza" class="w-24" />
        <div class="ml-4 flex-1">
          <h1>Magrone</h1>
          <span>SMALL</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="font-bold"> ₹ 500</span>
      </div>
    </div>
    <div class="pizza-list my-5">
      <div class="flex items-center">
        <img src="/img/pizza.png" alt="pizza" class="w-24" />
        <div class="ml-4 flex-1">
          <h1>Magrone</h1>
          <span>SMALL</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="font-bold"> ₹ 500</span>
      </div>
    </div>

    <hr />
    <div class="text-right py-4">
      <div>
        <span class="font-bold">
          Total amount:
          <span class="amount text-2xl font-bold ml-2"> ₹ 500</span>
        </span>
      </div>
      <div>
        <form action="">
          <input
            type="text"
            name=""
            id=""
            class="border border-gray-400 py-2 w-1/2 my-5 pl-2 rounded-full"
            placeholder="Phone Number"
          />
          <input
            type="text"
            name=""
            id=""
            class="border border-gray-400 py-2 w-1/2 pl-2 rounded-full"
            placeholder="Adress"
          />
          <div>
            <!-- <button
              class="px-6 py-2 rounded-full text-white mt-4 font-bold btn-primary"
            >
              Order Now
            </button> -->
          </div>
        </form>
      </div>
      <a
        href=""
        class="inline-block cursor-pointer px-6 py-2 rounded-full text-white mt-4 font-bold btn-primary text-right"
        >Login to continue</a
      >
    </div>
  </div>
  <!-- <div class="cart-empty">
    <div class="container mx-auto text-center">
      <h1 class="text-2xl font-bold">Cart Empty 😀</h1>
      <p class="text-lg text-gray-400 py-4">
        "Your Cart is Empty Start shopping <br />
        now to fill it with your favorite foods."
      </p>
      <img src="/img/empty-cart.png" alt="empty" class="w-2/6 mx-auto py-6" />
      <a
        href="/"
        class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold"
        >Go back</a
      >
    </div>
  </div> -->
</section>
